<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="./css/style_login.css">
</head>
<body>
    <main class="login-design">
        <div class="Izquierdo"></div>
        <div class="Derecho">
            <div class="login-data">
                <img src="img/collab.png">
                <h1>Registro de usuario</h1>
                <form action="/register" class="login-form" method="Post">
                    <div class="input-group">
                        <label class="input-fill">
                            <input type="email" name="email" id="email" required>
                            <span class="input-label">Correo Electrónico</span>
                            <i class="fas fa-envelope"></i>
                        </label>
                    </div>
                    <div class="input-group">
                        <label class="input-fill">
                            <input type="password" name="password1" id="password1" required>
                            <span class="input-label">Contraceña</span>
                            <i class="fas fa-lock"></i>
                        </label>
                    </div>
                    <div class="input-group">
                        <label class="input-fill">
                            <input type="password" name="password2" id="password2" required>
                            <span class="input-label">Repetir Contraceña</span>
                            <i class="fas fa-lock"></i>
                        </label>
                    </div>
                    <a href="/">Cuento con un Usuario</a>
                    <input type="submit" value="Crear Usuario" class="btn-login">
                </form>
            </div>
        </div>
    </main>
</body>
</html>